.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 80vh; /* vh stands for viewport height */

}
.form-label{
font-size:18px;
}

form {
  width: 400px; /* adjust this value to control the form's width */
  border-radius: 12px;

  border-color: black;
  border: .5px solid;

}